* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
.env-example diff=dotenv

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

